In [5]:
#Dependencies

import pandas as pd
import csv
import os

from datetime import datetime as dt
import numpy as np

from sqlalchemy import create_engine

## Data Extraction file 1

In [6]:
# Importing US Crude oil production 2008-2018 in csv format
file1_path= os.path.join('Resources','U.S._crude_oil_production.csv')
oil_production_df = pd.read_csv(file1_path)
oil_production_df

,Month,U.S. Crude Oil,Alabama,Alaska,Arkansas,Arizona,California,Colorado,Federal Offshore Gulf of Mexico Crude Oil,Federal Offshore Pacific Crude Oil,...,Ohio,Oklahoma,Pennsylvania,South Dakota,Wyoming,West Virginia,Virginia,Utah,Texas,Tennessee
0,2008-06-01,5138,21,655,17,0,583,82,1326,67,...,14,186,8,5,144,6,0,60,1097,1
1,2008-07-01,5177,21,640,17,0,586,81,1372,61,...,14,184,8,5,145,5,0,61,1111,1
2,2008-08-01,5003,21,544,17,0,588,82,1272,70,...,14,188,8,5,145,6,0,62,1110,1
3,2008-09-01,3974,21,681,16,0,587,88,242,67,...,14,186,8,5,144,6,0,63,1055,1
4,2008-10-01,4738,21,716,17,0,586,86,803,66,...,14,185,8,5,145,6,0,64,1125,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2018-02-01,10248,17,513,14,0,463,428,1704,14,...,54,527,18,4,223,27,0,100,4015,1
117,2018-03-01,10461,17,512,14,0,462,428,1681,16,...,54,543,18,4,231,29,0,104,4185,1
118,2018-04-01,10475,17,497,14,0,465,447,1583,16,...,54,531,19,4,232,29,0,103,4222,1
119,2018-05-01,10443,16,496,14,0,464,447,1504,15,...,58,529,19,3,228,29,0,97,4245,1
120,2018-06-01,10674,16,451,14,0,462,423,1658,15,...,65,526,18,4,226,30,0,94,4410,1

## Transform the data extracted

In [7]:
# Summarizing the date column month wise to yearly(taking mean for per year)
oil_production_df['year'] = pd.DatetimeIndex(oil_production_df['Month']).year
del oil_production_df['Month']

In [8]:
mean_oil_production_df = pd.DataFrame(round(oil_production_df.groupby(['year']).mean(),2))
mean_oil_production_df=mean_oil_production_df.reset_index()

In [9]:
oilproducingstates_df=mean_oil_production_df[['year','Alaska','California','Colorado','Kansas','Louisiana',
                                                          'Montana','New Mexico','North Dakota','Oklahoma',
                                                          'Wyoming','Utah','Texas']].copy()
oilproducingstates_df

,year,Alaska,California,Colorado,Kansas,Louisiana,Montana,New Mexico,North Dakota,Oklahoma,Wyoming,Utah,Texas
0,2008,666.57,585.00,84.14,109.71,189.00,85.00,165.00,188.86,183.71,144.71,62.57,1110.43
1,2009,645.75,567.92,83.17,108.25,188.50,76.33,167.67,217.25,178.67,141.25,63.08,1094.33
2,2010,599.92,549.00,90.50,111.00,184.42,69.42,179.92,307.92,186.58,147.58,67.42,1168.83
3,2011,561.83,537.42,107.92,113.75,189.00,66.17,195.58,416.92,211.17,149.58,72.00,1449.42
4,2012,525.83,538.75,135.50,119.50,193.00,72.42,233.67,661.58,257.92,158.33,82.58,1978.50
5,2013,515.17,545.00,181.25,128.25,197.17,80.08,281.50,855.25,315.50,174.00,96.00,2539.58
6,2014,496.50,560.75,261.58,135.75,190.00,81.92,342.33,1080.25,383.75,208.42,112.17,3170.75
7,2015,483.00,551.58,336.33,124.50,174.33,78.25,404.67,1176.92,457.00,236.83,101.83,3444.58
8,2016,489.50,508.42,318.33,103.67,155.33,63.33,400.00,1032.42,425.17,198.33,83.42,3178.33
9,2017,494.67,476.92,357.75,98.08,142.58,56.75,469.75,1073.92,454.50,207.08,93.75,3485.58
10,2018,496.17,463.17,434.83,96.00,128.50,54.17,618.17,1186.83,531.00,227.00,99.67,4161.83

In [10]:
# Transpose the DataFrame.
oilproducingstates_df =oilproducingstates_df.T
oilproducingstates_df

,0,1,2,3,4,5,6,7,8,9,10
year,2008.00,2009.00,2010.00,2011.00,2012.00,2013.00,2014.00,2015.00,2016.00,2017.00,2018.00
Alaska,666.57,645.75,599.92,561.83,525.83,515.17,496.50,483.00,489.50,494.67,496.17
California,585.00,567.92,549.00,537.42,538.75,545.00,560.75,551.58,508.42,476.92,463.17
Colorado,84.14,83.17,90.50,107.92,135.50,181.25,261.58,336.33,318.33,357.75,434.83
Kansas,109.71,108.25,111.00,113.75,119.50,128.25,135.75,124.50,103.67,98.08,96.00
Louisiana,189.00,188.50,184.42,189.00,193.00,197.17,190.00,174.33,155.33,142.58,128.50
Montana,85.00,76.33,69.42,66.17,72.42,80.08,81.92,78.25,63.33,56.75,54.17
New Mexico,165.00,167.67,179.92,195.58,233.67,281.50,342.33,404.67,400.00,469.75,618.17
North Dakota,188.86,217.25,307.92,416.92,661.58,855.25,1080.25,1176.92,1032.42,1073.92,1186.83
Oklahoma,183.71,178.67,186.58,211.17,257.92,315.50,383.75,457.00,425.17,454.50,531.00
Wyoming,144.71,141.25,147.58,149.58,158.33,174.00,208.42,236.83,198.33,207.08,227.00
Utah,62.57,63.08,67.42,72.00,82.58,96.00,112.17,101.83,83.42,93.75,99.67
Texas,1110.43,1094.33,1168.83,1449.42,1978.50,2539.58,3170.75,3444.58,3178.33,3485.58,4161.83

In [11]:
#Selecting rows and columns which are needed
oilproducingstates_df=oilproducingstates_df.iloc[1:,2:7]
oilproducingstates_df

                    2        3        4        5        6
Alaska         599.92   561.83   525.83   515.17   496.50
California     549.00   537.42   538.75   545.00   560.75
Colorado        90.50   107.92   135.50   181.25   261.58
Kansas         111.00   113.75   119.50   128.25   135.75
Louisiana      184.42   189.00   193.00   197.17   190.00
Montana         69.42    66.17    72.42    80.08    81.92
New Mexico     179.92   195.58   233.67   281.50   342.33
North Dakota   307.92   416.92   661.58   855.25  1080.25
Oklahoma       186.58   211.17   257.92   315.50   383.75
Wyoming        147.58   149.58   158.33   174.00   208.42
Utah            67.42    72.00    82.58    96.00   112.17
Texas         1168.83  1449.42  1978.50  2539.58  3170.75

In [12]:
oilproducingstates_df=oilproducingstates_df.rename(columns={ 2:'oil2010', 3:'oil2011', 4:'oil2012', 5:'oil2013',6:'oil2014'})

In [13]:
oilproducingstates_df=oilproducingstates_df.reset_index()

In [14]:
oilproducingstates_df=oilproducingstates_df.rename(columns={'index':'states'})

##  Crude Oil Production of Key States in USA  for the year 2010-2014

In [15]:
oilproducingstates_df

          states  oil2010  oil2011  oil2012  oil2013  oil2014
0         Alaska   599.92   561.83   525.83   515.17   496.50
1     California   549.00   537.42   538.75   545.00   560.75
2       Colorado    90.50   107.92   135.50   181.25   261.58
3         Kansas   111.00   113.75   119.50   128.25   135.75
4      Louisiana   184.42   189.00   193.00   197.17   190.00
5        Montana    69.42    66.17    72.42    80.08    81.92
6     New Mexico   179.92   195.58   233.67   281.50   342.33
7   North Dakota   307.92   416.92   661.58   855.25  1080.25
8       Oklahoma   186.58   211.17   257.92   315.50   383.75
9        Wyoming   147.58   149.58   158.33   174.00   208.42
10          Utah    67.42    72.00    82.58    96.00   112.17
11         Texas  1168.83  1449.42  1978.50  2539.58  3170.75

In [16]:
oilproducingstates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
states     12 non-null object
oil2010    12 non-null float64
oil2011    12 non-null float64
oil2012    12 non-null float64
oil2013    12 non-null float64
oil2014    12 non-null float64
dtypes: float64(5), object(1)
memory usage: 704.0+ bytes

## Importing US Natural gas production 2008-2018 in csv format

In [36]:
file2_path= os.path.join('Resources','U.S._natural_gas_production.csv')
NG_production_df = pd.read_csv(file2_path)
#NG_production_df

In [37]:
NG_production_df['year'] = pd.DatetimeIndex(NG_production_df['Month']).year
del NG_production_df['Month']

In [38]:
mean_NG_production_df = pd.DataFrame(round(NG_production_df.groupby(['year']).mean(),2))
mean_NG_production_df=mean_NG_production_df.reset_index()
mean_NG_production_df

,year,U.S.,Alaska,Arkansas,Kansas,Other States,Federal Offshore--Gulf of Mexico,Wyoming,West Virginia,Utah,Pennsylvania,Texas,Oklahoma,Ohio,North Dakota,New Mexico,Montana,Louisiana,Colorado,California
0,2008,69924.71,9247.43,1342.14,1032.71,3096.86,5587.43,6913.29,672.71,1246.57,537.00,21640.43,5172.29,231.00,253.29,4074.00,323.14,3755.57,3907.29,891.43
1,2009,71406.33,9082.17,1862.75,974.08,3006.50,6695.50,6951.08,724.33,1231.83,750.75,20974.50,5211.25,243.25,253.33,3905.58,288.58,4268.42,4143.00,839.25
2,2010,73468.50,8768.25,2539.58,892.33,3128.50,6192.42,6890.58,726.50,1196.75,1564.25,20802.67,5006.17,214.00,311.75,3675.08,255.67,6072.75,4354.92,876.75
3,2011,78013.58,8679.50,2948.67,849.25,3182.25,5017.75,6507.92,1079.00,1264.17,3584.50,21728.92,5172.92,216.00,429.58,3526.25,217.92,8325.42,4517.92,765.08
4,2012,80719.33,8654.67,3130.92,809.50,3087.08,4175.17,6082.33,1474.50,1339.92,6162.50,22249.08,5528.08,231.00,706.08,3487.17,183.08,8074.58,4669.75,674.33
5,2013,80884.75,8814.67,3122.17,801.08,1888.08,3637.25,5611.50,2030.25,1290.17,8923.00,22737.00,5460.33,453.50,946.83,3417.50,173.17,6489.42,4397.42,691.33
6,2014,86036.58,8691.50,3076.42,784.58,1730.08,3494.75,5475.75,2921.25,1245.50,11661.00,23716.50,6386.92,1400.25,1267.83,3469.25,162.25,5395.50,4501.75,655.08
7,2015,90179.83,8703.92,2768.42,779.08,1675.17,3581.58,5467.92,3603.00,1143.08,13186.33,24110.83,6847.17,2755.75,1600.92,3553.17,159.67,4968.42,4626.75,648.83
8,2016,89173.75,8825.00,2249.92,665.33,1560.17,3332.50,5051.08,3756.42,996.50,14518.75,22226.08,6744.33,3933.25,1663.67,3510.00,142.50,4788.25,4649.25,560.25
9,2017,90894.17,8914.08,1920.83,603.92,1422.42,2966.00,4700.83,4384.08,859.33,14970.33,21692.83,6884.67,4891.83,1881.42,3659.17,131.42,5828.92,4628.83,553.50
10,2018,97843.00,9147.83,1665.17,562.00,1354.83,2568.00,4782.67,4695.50,828.33,16301.83,22975.33,7728.83,6115.17,2193.33,3942.50,123.17,7411.00,4901.67,546.00

In [39]:
NGproducingstates_df=mean_NG_production_df[['year','Alaska','California','Colorado','Kansas','Louisiana',
                                            'Montana','New Mexico','North Dakota','Oklahoma',
                                            'Wyoming','Utah','Texas']].copy()
NGproducingstates_df

,year,Alaska,California,Colorado,Kansas,Louisiana,Montana,New Mexico,North Dakota,Oklahoma,Wyoming,Utah,Texas
0,2008,9247.43,891.43,3907.29,1032.71,3755.57,323.14,4074.00,253.29,5172.29,6913.29,1246.57,21640.43
1,2009,9082.17,839.25,4143.00,974.08,4268.42,288.58,3905.58,253.33,5211.25,6951.08,1231.83,20974.50
2,2010,8768.25,876.75,4354.92,892.33,6072.75,255.67,3675.08,311.75,5006.17,6890.58,1196.75,20802.67
3,2011,8679.50,765.08,4517.92,849.25,8325.42,217.92,3526.25,429.58,5172.92,6507.92,1264.17,21728.92
4,2012,8654.67,674.33,4669.75,809.50,8074.58,183.08,3487.17,706.08,5528.08,6082.33,1339.92,22249.08
5,2013,8814.67,691.33,4397.42,801.08,6489.42,173.17,3417.50,946.83,5460.33,5611.50,1290.17,22737.00
6,2014,8691.50,655.08,4501.75,784.58,5395.50,162.25,3469.25,1267.83,6386.92,5475.75,1245.50,23716.50
7,2015,8703.92,648.83,4626.75,779.08,4968.42,159.67,3553.17,1600.92,6847.17,5467.92,1143.08,24110.83
8,2016,8825.00,560.25,4649.25,665.33,4788.25,142.50,3510.00,1663.67,6744.33,5051.08,996.50,22226.08
9,2017,8914.08,553.50,4628.83,603.92,5828.92,131.42,3659.17,1881.42,6884.67,4700.83,859.33,21692.83
10,2018,9147.83,546.00,4901.67,562.00,7411.00,123.17,3942.50,2193.33,7728.83,4782.67,828.33,22975.33

In [40]:
NGproducingstates_df =NGproducingstates_df.T
NGproducingstates_df

,0,1,2,3,4,5,6,7,8,9,10
year,2008.00,2009.00,2010.00,2011.00,2012.00,2013.00,2014.00,2015.00,2016.00,2017.00,2018.00
Alaska,9247.43,9082.17,8768.25,8679.50,8654.67,8814.67,8691.50,8703.92,8825.00,8914.08,9147.83
California,891.43,839.25,876.75,765.08,674.33,691.33,655.08,648.83,560.25,553.50,546.00
Colorado,3907.29,4143.00,4354.92,4517.92,4669.75,4397.42,4501.75,4626.75,4649.25,4628.83,4901.67
Kansas,1032.71,974.08,892.33,849.25,809.50,801.08,784.58,779.08,665.33,603.92,562.00
Louisiana,3755.57,4268.42,6072.75,8325.42,8074.58,6489.42,5395.50,4968.42,4788.25,5828.92,7411.00
Montana,323.14,288.58,255.67,217.92,183.08,173.17,162.25,159.67,142.50,131.42,123.17
New Mexico,4074.00,3905.58,3675.08,3526.25,3487.17,3417.50,3469.25,3553.17,3510.00,3659.17,3942.50
North Dakota,253.29,253.33,311.75,429.58,706.08,946.83,1267.83,1600.92,1663.67,1881.42,2193.33
Oklahoma,5172.29,5211.25,5006.17,5172.92,5528.08,5460.33,6386.92,6847.17,6744.33,6884.67,7728.83
Wyoming,6913.29,6951.08,6890.58,6507.92,6082.33,5611.50,5475.75,5467.92,5051.08,4700.83,4782.67
Utah,1246.57,1231.83,1196.75,1264.17,1339.92,1290.17,1245.50,1143.08,996.50,859.33,828.33
Texas,21640.43,20974.50,20802.67,21728.92,22249.08,22737.00,23716.50,24110.83,22226.08,21692.83,22975.33

In [41]:
NGproducingstates_df=NGproducingstates_df.iloc[1:,2:7]

##  Natural gas production of Key States in USA  for the year 2010-2014

In [42]:
NGproducingstates_df=NGproducingstates_df.rename(columns={ 2:'ng2010', 3:'ng2011', 4:'ng2012', 5:'ng2013',6:'ng2014'})

In [43]:
NGproducingstates_df=NGproducingstates_df.reset_index()

In [44]:
NGproducingstates_df=NGproducingstates_df.rename(columns={'index':'states'})

In [45]:
NGproducingstates_df

          states    ng2010    ng2011    ng2012    ng2013    ng2014
0         Alaska   8768.25   8679.50   8654.67   8814.67   8691.50
1     California    876.75    765.08    674.33    691.33    655.08
2       Colorado   4354.92   4517.92   4669.75   4397.42   4501.75
3         Kansas    892.33    849.25    809.50    801.08    784.58
4      Louisiana   6072.75   8325.42   8074.58   6489.42   5395.50
5        Montana    255.67    217.92    183.08    173.17    162.25
6     New Mexico   3675.08   3526.25   3487.17   3417.50   3469.25
7   North Dakota    311.75    429.58    706.08    946.83   1267.83
8       Oklahoma   5006.17   5172.92   5528.08   5460.33   6386.92
9        Wyoming   6890.58   6507.92   6082.33   5611.50   5475.75
10          Utah   1196.75   1264.17   1339.92   1290.17   1245.50
11         Texas  20802.67  21728.92  22249.08  22737.00  23716.50

##  Energy Census and Economic Data USA 2010-2014

In [67]:
file3_path= os.path.join('Resources','Energy Census and Economic Data US 2010-2014.csv')
Energy_df = pd.read_csv(file3_path)
Energy_df.head()

,StateCodes,State,Region,Division,Coast,Great Lakes,TotalC2010,TotalC2011,TotalC2012,TotalC2013,...,RINTERNATIONALMIG2013,RINTERNATIONALMIG2014,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014
0,AL,Alabama,3.0,6.0,1.0,0.0,1931522,1905207,1879716,1919365,...,1.165832,1.157861,-0.020443,-0.168414,0.396416,0.420102,1.011941,1.001333,1.562247,1.577963
1,AK,Alaska,4.0,9.0,1.0,0.0,653221,653637,649341,621107,...,3.203618,2.869760,-1.175137,-1.949571,-3.789313,-13.754494,0.948185,1.835376,-0.585695,-10.884734
2,AZ,Arizona,4.0,8.0,0.0,0.0,1383531,1424944,1395839,1414383,...,1.090035,1.091283,1.341472,-0.420875,-0.580562,-1.313050,2.317801,0.621971,0.509473,-0.221767
3,AR,Arkansas,3.0,7.0,0.0,0.0,1120632,1122544,1067642,1096438,...,2.141877,2.129805,1.369514,5.131282,3.910476,6.280636,3.336628,7.155212,6.052353,8.410441
4,CA,California,4.0,9.0,1.0,0.0,7760629,7777115,7564063,7665241,...,4.207353,4.177389,-1.162079,-1.173951,-1.341226,-0.830982,2.761377,2.772770,2.866127,3.346406

In [68]:
col_names = Energy_df.columns.tolist()
print(col_names)

['StateCodes', 'State', 'Region', 'Division', 'Coast', 'Great Lakes', 'TotalC2010', 'TotalC2011', 'TotalC2012', 'TotalC2013', 'TotalC2014', 'TotalP2010', 'TotalP2011', 'TotalP2012', 'TotalP2013', 'TotalP2014', 'TotalE2010', 'TotalE2011', 'TotalE2012', 'TotalE2013', 'TotalE2014', 'TotalPrice2010', 'TotalPrice2011', 'TotalPrice2012', 'TotalPrice2013', 'TotalPrice2014', 'TotalC10-11', 'TotalC11-12', 'TotalC12-13', 'TotalC13-14', 'TotalP10-11', 'TotalP11-12', 'TotalP12-13', 'TotalP13-14', 'TotalE10-11', 'TotalE11-12', 'TotalE12-13', 'TotalE13-14', 'TotalPrice10-11', 'TotalPrice11-12', 'TotalPrice12-13', 'TotalPrice13-14', 'BiomassC2010', 'BiomassC2011', 'BiomassC2012', 'BiomassC2013', 'BiomassC2014', 'CoalC2010', 'CoalC2011', 'CoalC2012', 'CoalC2013', 'CoalC2014', 'CoalP2010', 'CoalP2011', 'CoalP2012', 'CoalP2013', 'CoalP2014', 'CoalE2010', 'CoalE2011', 'CoalE2012', 'CoalE2013', 'CoalE2014', 'CoalPrice2010', 'CoalPrice2011', 'CoalPrice2012', 'CoalPrice2013', 'CoalPrice2014', 'ElecC2010', 'ElecC2011', 'ElecC2012', 'ElecC2013', 'ElecC2014', 'ElecE2010', 'ElecE2011', 'ElecE2012', 'ElecE2013', 'ElecE2014', 'ElecPrice2010', 'ElecPrice2011', 'ElecPrice2012', 'ElecPrice2013', 'ElecPrice2014', 'FossFuelC2010', 'FossFuelC2011', 'FossFuelC2012', 'FossFuelC2013', 'FossFuelC2014', 'GeoC2010', 'GeoC2011', 'GeoC2012', 'GeoC2013', 'GeoC2014', 'GeoP2010', 'GeoP2011', 'GeoP2012', 'GeoP2013', 'GeoP2014', 'HydroC2010', 'HydroC2011', 'HydroC2012', 'HydroC2013', 'HydroC2014', 'HydroP2010', 'HydroP2011', 'HydroP2012', 'HydroP2013', 'HydroP2014', 'NatGasC2010', 'NatGasC2011', 'NatGasC2012', 'NatGasC2013', 'NatGasC2014', 'NatGasE2010', 'NatGasE2011', 'NatGasE2012', 'NatGasE2013', 'NatGasE2014', 'NatGasPrice2010', 'NatGasPrice2011', 'NatGasPrice2012', 'NatGasPrice2013', 'NatGasPrice2014', 'LPGC2010', 'LPGC2011', 'LPGC2012', 'LPGC2013', 'LPGC2014', 'LPGE2010', 'LPGE2011', 'LPGE2012', 'LPGE2013', 'LPGE2014', 'LPGPrice2010', 'LPGPrice2011', 'LPGPrice2012', 'LPGPrice2013', 'LPGPrice2014', 'GDP2010Q1', 'GDP2010Q2', 'GDP2010Q3', 'GDP2010Q4', 'GDP2010', 'GDP2011Q1', 'GDP2011Q2', 'GDP2011Q3', 'GDP2011Q4', 'GDP2011', 'GDP2012', 'GDP2013Q1', 'GDP2013Q2', 'GDP2013Q3', 'GDP2013Q4', 'GDP2013', 'GDP2014Q1', 'GDP2014Q2', 'GDP2014Q3', 'GDP2014Q4', 'GDP2014', 'CENSUS2010POP', 'POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014', 'RBIRTH2011', 'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RDEATH2011', 'RDEATH2012', 'RDEATH2013', 'RDEATH2014', 'RNATURALINC2011', 'RNATURALINC2012', 'RNATURALINC2013', 'RNATURALINC2014', 'RINTERNATIONALMIG2011', 'RINTERNATIONALMIG2012', 'RINTERNATIONALMIG2013', 'RINTERNATIONALMIG2014', 'RDOMESTICMIG2011', 'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013', 'RNETMIG2014']

In [69]:

states_df=Energy_df.iloc[:,1:2]
#states_df

In [70]:
GDP_df=pd.DataFrame(Energy_df.filter(regex='^GDP',axis=1))

In [71]:
drop_columns_list=Energy_df.filter(regex='Q1|Q2|Q3|Q4').columns
drop_columns_list

Index(['GDP2010Q1', 'GDP2010Q2', 'GDP2010Q3', 'GDP2010Q4', 'GDP2011Q1',
       'GDP2011Q2', 'GDP2011Q3', 'GDP2011Q4', 'GDP2013Q1', 'GDP2013Q2',
       'GDP2013Q3', 'GDP2013Q4', 'GDP2014Q1', 'GDP2014Q2', 'GDP2014Q3',
       'GDP2014Q4'],
      dtype='object')

In [72]:
GDP_df=GDP_df.drop(drop_columns_list, axis=1)

In [73]:
GDP_df.head()

      GDP2010     GDP2011     GDP2012     GDP2013     GDP2014
0   176220.75   181923.00   187283.25   191605.25   197534.50
1    54220.00    59318.25    61613.50    59890.75    58066.75
2   247333.00   255620.50   266130.75   271072.50   281558.75
3   104928.75   109378.25   111541.00   116651.50   121064.75
4  1960935.00  2031347.75  2121602.25  2215231.50  2324995.50

## Fossil Fuel, Natural Gas and LPG Consumption in USA

In [74]:
Fossilfuel_df=pd.DataFrame(Energy_df.filter(regex='^FossFuel',axis=1))
Naturalgas_df=pd.DataFrame(Energy_df.filter(regex='^NatGasC',axis=1))
LPG_df=pd.DataFrame(Energy_df.filter(regex='^LPGC',axis=1))

In [75]:
states_df=pd.concat([states_df, GDP_df,Fossilfuel_df,Naturalgas_df,LPG_df],axis=1)
states_df.head()

,State,GDP2010,GDP2011,GDP2012,GDP2013,GDP2014,FossFuelC2010,FossFuelC2011,FossFuelC2012,FossFuelC2013,...,NatGasC2010,NatGasC2011,NatGasC2012,NatGasC2013,NatGasC2014,LPGC2010,LPGC2011,LPGC2012,LPGC2013,LPGC2014
0,Alabama,176220.75,181923.00,187283.25,191605.25,197534.50,1785688,1783839,1740315,1689491,...,544405,609288,677380,625869,651532,13088,10343,8628,9094,8460
1,Alaska,54220.00,59318.25,61613.50,59890.75,58066.75,634777,635981,629768,600660,...,334978,339819,347228,332963,329585,1353,1247,1314,1272,1190
2,Arizona,247333.00,255620.50,266130.75,271072.50,281558.75,1292346,1253992,1248032,1289119,...,336208,293134,339043,340375,315448,7838,8759,6522,7576,7373
3,Arkansas,104928.75,109378.25,111541.00,116651.50,121064.75,909827,932878,918078,936796,...,274774,288906,300572,286352,274767,10016,8992,7733,8864,9145
4,California,1960935.00,2031347.75,2121602.25,2215231.50,2324995.50,5741492,5550201,5687343,5755210,...,2325411,2196252,2456371,2483208,2417476,63022,62639,55405,54438,51472

In [76]:
states_filtered = states_df[states_df['State'].isin(oilproducingstates_df['states'])]

In [77]:
states_filtered=states_filtered.set_index('State')
states_filtered

,GDP2010,GDP2011,GDP2012,GDP2013,GDP2014,FossFuelC2010,FossFuelC2011,FossFuelC2012,FossFuelC2013,FossFuelC2014,NatGasC2010,NatGasC2011,NatGasC2012,NatGasC2013,NatGasC2014,LPGC2010,LPGC2011,LPGC2012,LPGC2013,LPGC2014
State,,,,,,,,,,,,,,,,,,,,
Alaska,54220.00,59318.25,61613.50,59890.75,58066.75,634777,635981,629768,600660,581369,334978,339819,347228,332963,329585,1353,1247,1314,1272,1190
California,1960935.00,2031347.75,2121602.25,2215231.50,2324995.50,5741492,5550201,5687343,5755210,5702418,2325411,2196252,2456371,2483208,2417476,63022,62639,55405,54438,51472
Colorado,258148.25,266796.25,277646.75,288809.00,305366.75,1370758,1304903,1282352,1303825,1313834,510877,481614,461056,487445,499668,16395,16036,15118,17952,16341
Kansas,128589.00,137654.25,141600.25,142773.50,146562.00,997849,970721,913457,963626,965093,280413,285318,268086,288840,289697,12277,11583,9589,11228,11283
Louisiana,231371.50,236958.25,243308.75,238308.25,245790.75,3974821,4015581,3886754,3785289,3810396,1483201,1536147,1586439,1499625,1563857,489633,516784,565869,613368,617916
Montana,37801.00,40841.25,42137.75,43223.25,44672.25,447231,422616,405716,422138,423897,72888,79470,75234,81900,79260,9000,9531,8061,7786,8298
New Mexico,86194.75,89543.25,90535.25,91344.50,94791.50,737539,768020,745336,741402,711338,246201,251838,249815,252867,256085,8501,7782,7683,8501,7187
North Dakota,36033.00,42122.75,52197.25,54441.25,58230.00,622237,652742,678850,701050,723128,70046,77752,77469,88285,90629,9541,9405,9057,12682,10982
Oklahoma,151317.50,165277.50,173911.50,182447.25,190170.50,1571983,1576848,1567142,1537652,1543910,697351,676910,712411,682277,665799,11435,10418,8764,10666,10596
Texas,1251494.00,1351048.25,1440819.00,1527158.50,1601976.75,10741110,10979933,11054960,11616497,11752655,3689583,3800578,3964121,4143328,4219128,1425319,1452532,1555977,1650880,1598099
Utah,119037.00,125496.50,129012.25,134922.25,140565.00,847682,858627,829676,897843,875384,229078,230672,232630,258909,252691,4050,4911,4285,5084,4575
Wyoming,39093.25,41578.00,39909.00,40456.50,40875.50,805265,797726,821266,839683,803967,154759,161776,158546,155960,141763,5226,5481,4817,5113,5442

In [78]:
states_filtered=states_filtered.reset_index()

In [102]:
states_filtered.columns = [x.lower() for x in states_filtered.columns]
states_filtered.head()

,state,gdp2010,gdp2011,gdp2012,gdp2013,gdp2014,fossfuelc2010,fossfuelc2011,fossfuelc2012,fossfuelc2013,...,natgasc2010,natgasc2011,natgasc2012,natgasc2013,natgasc2014,lpgc2010,lpgc2011,lpgc2012,lpgc2013,lpgc2014
0,Alaska,54220.00,59318.25,61613.50,59890.75,58066.75,634777.0,635981.0,629768.0,600660.0,...,334978.0,339819.0,347228.0,332963.0,329585.0,1353.0,1247.0,1314.0,1272.0,1190.0
1,California,1960935.00,2031347.75,2121602.25,2215231.50,2324995.50,5741492.0,5550201.0,5687343.0,5755210.0,...,2325411.0,2196252.0,2456371.0,2483208.0,2417476.0,63022.0,62639.0,55405.0,54438.0,51472.0
2,Colorado,258148.25,266796.25,277646.75,288809.00,305366.75,1370758.0,1304903.0,1282352.0,1303825.0,...,510877.0,481614.0,461056.0,487445.0,499668.0,16395.0,16036.0,15118.0,17952.0,16341.0
3,Kansas,128589.00,137654.25,141600.25,142773.50,146562.00,997849.0,970721.0,913457.0,963626.0,...,280413.0,285318.0,268086.0,288840.0,289697.0,12277.0,11583.0,9589.0,11228.0,11283.0
4,Louisiana,231371.50,236958.25,243308.75,238308.25,245790.75,3974821.0,4015581.0,3886754.0,3785289.0,...,1483201.0,1536147.0,1586439.0,1499625.0,1563857.0,489633.0,516784.0,565869.0,613368.0,617916.0

In [103]:
# states_filtered[ 'FossFuelC2010', 'FossFuelC2011', 'FossFuelC2012', 'FossFuelC2013', 'FossFuelC2014',
#                  'NatGasC2010', 'NatGasC2011', 'NatGasC2012', 'NatGasC2013', 'NatGasC2014',
#                  'LPGC2010', 'LPGC2011', 'LPGC2012', 'LPGC2013', 'LPGC2014']=states_filtered
# [ {'FossFuelC2010':, 'FossFuelC2011', 'FossFuelC2012', 'FossFuelC2013', 'FossFuelC2014',
#                  'NatGasC2010', 'NatGasC2011', 'NatGasC2012', 'NatGasC2013', 'NatGasC2014',
#                  'LPGC2010', 'LPGC2011', 'LPGC2012', 'LPGC2013', 'LPGC2014'].astype('float')

states_filtered.iloc[ :,6:]=states_filtered.iloc[ :,6:].astype('float')

In [104]:
states_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 21 columns):
state            12 non-null object
gdp2010          12 non-null float64
gdp2011          12 non-null float64
gdp2012          12 non-null float64
gdp2013          12 non-null float64
gdp2014          12 non-null float64
fossfuelc2010    12 non-null float64
fossfuelc2011    12 non-null float64
fossfuelc2012    12 non-null float64
fossfuelc2013    12 non-null float64
fossfuelc2014    12 non-null float64
natgasc2010      12 non-null float64
natgasc2011      12 non-null float64
natgasc2012      12 non-null float64
natgasc2013      12 non-null float64
natgasc2014      12 non-null float64
lpgc2010         12 non-null float64
lpgc2011         12 non-null float64
lpgc2012         12 non-null float64
lpgc2013         12 non-null float64
lpgc2014         12 non-null float64
dtypes: float64(20), object(1)
memory usage: 2.1+ KB

## Connect to local database

In [105]:
# rds_connection_string = "<insert user name>:<insert password>@localhost:5432/<YOUR DATABASE NAME>"
rds_connection_string = "postgres:Sgk01@localhost:5432/Oil_Gas"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [113]:
engine.table_names()

['energy_gdp', 'oil_production', 'ng_production']

### Converted DataFrames into tables in database

In [111]:
states_filtered.to_sql(name='energy_gdp', con=engine, if_exists='append', index=False)

In [114]:
oilproducingstates_df.to_sql(name='oil_production', con=engine, if_exists='append', index=False)

In [115]:
NGproducingstates_df.to_sql(name='ng_production', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the tables
* NOTE: can also check using pgAdmin

In [112]:
pd.read_sql_query('select * from energy_gdp', con=engine)

,state,gdp2010,gdp2011,gdp2012,gdp2013,gdp2014,fossfuelc2010,fossfuelc2011,fossfuelc2012,fossfuelc2013,...,natgasc2010,natgasc2011,natgasc2012,natgasc2013,natgasc2014,lpgc2010,lpgc2011,lpgc2012,lpgc2013,lpgc2014
0,Alaska,54220.00,59318.25,61613.50,59890.75,58066.75,634777.0,635981.0,629768.0,600660.0,...,334978.0,339819.0,347228.0,332963.0,329585.0,1353.0,1247.0,1314.0,1272.0,1190.0
1,California,1960935.00,2031347.75,2121602.25,2215231.50,2324995.50,5741492.0,5550201.0,5687343.0,5755210.0,...,2325411.0,2196252.0,2456371.0,2483208.0,2417476.0,63022.0,62639.0,55405.0,54438.0,51472.0
2,Colorado,258148.25,266796.25,277646.75,288809.00,305366.75,1370758.0,1304903.0,1282352.0,1303825.0,...,510877.0,481614.0,461056.0,487445.0,499668.0,16395.0,16036.0,15118.0,17952.0,16341.0
3,Kansas,128589.00,137654.25,141600.25,142773.50,146562.00,997849.0,970721.0,913457.0,963626.0,...,280413.0,285318.0,268086.0,288840.0,289697.0,12277.0,11583.0,9589.0,11228.0,11283.0
4,Louisiana,231371.50,236958.25,243308.75,238308.25,245790.75,3974821.0,4015581.0,3886754.0,3785289.0,...,1483201.0,1536147.0,1586439.0,1499625.0,1563857.0,489633.0,516784.0,565869.0,613368.0,617916.0
5,Montana,37801.00,40841.25,42137.75,43223.25,44672.25,447231.0,422616.0,405716.0,422138.0,...,72888.0,79470.0,75234.0,81900.0,79260.0,9000.0,9531.0,8061.0,7786.0,8298.0
6,New Mexico,86194.75,89543.25,90535.25,91344.50,94791.50,737539.0,768020.0,745336.0,741402.0,...,246201.0,251838.0,249815.0,252867.0,256085.0,8501.0,7782.0,7683.0,8501.0,7187.0
7,North Dakota,36033.00,42122.75,52197.25,54441.25,58230.00,622237.0,652742.0,678850.0,701050.0,...,70046.0,77752.0,77469.0,88285.0,90629.0,9541.0,9405.0,9057.0,12682.0,10982.0
8,Oklahoma,151317.50,165277.50,173911.50,182447.25,190170.50,1571983.0,1576848.0,1567142.0,1537652.0,...,697351.0,676910.0,712411.0,682277.0,665799.0,11435.0,10418.0,8764.0,10666.0,10596.0
9,Texas,1251494.00,1351048.25,1440819.00,1527158.50,1601976.75,10741110.0,10979933.0,11054960.0,11616497.0,...,3689583.0,3800578.0,3964121.0,4143328.0,4219128.0,1425319.0,1452532.0,1555977.0,1650880.0,1598099.0
10,Utah,119037.00,125496.50,129012.25,134922.25,140565.00,847682.0,858627.0,829676.0,897843.0,...,229078.0,230672.0,232630.0,258909.0,252691.0,4050.0,4911.0,4285.0,5084.0,4575.0
11,Wyoming,39093.25,41578.00,39909.00,40456.50,40875.50,805265.0,797726.0,821266.0,839683.0,...,154759.0,161776.0,158546.0,155960.0,141763.0,5226.0,5481.0,4817.0,5113.0,5442.0

In [116]:
pd.read_sql_query('select * from oil_production', con=engine)

          states  oil2010  oil2011  oil2012  oil2013  oil2014
0         Alaska   599.92   561.83   525.83   515.17   496.50
1     California   549.00   537.42   538.75   545.00   560.75
2       Colorado    90.50   107.92   135.50   181.25   261.58
3         Kansas   111.00   113.75   119.50   128.25   135.75
4      Louisiana   184.42   189.00   193.00   197.17   190.00
5        Montana    69.42    66.17    72.42    80.08    81.92
6     New Mexico   179.92   195.58   233.67   281.50   342.33
7   North Dakota   307.92   416.92   661.58   855.25  1080.25
8       Oklahoma   186.58   211.17   257.92   315.50   383.75
9        Wyoming   147.58   149.58   158.33   174.00   208.42
10          Utah    67.42    72.00    82.58    96.00   112.17
11         Texas  1168.83  1449.42  1978.50  2539.58  3170.75

In [117]:
pd.read_sql_query('select * from ng_production', con=engine)

          states    ng2010    ng2011    ng2012    ng2013    ng2014
0         Alaska   8768.25   8679.50   8654.67   8814.67   8691.50
1     California    876.75    765.08    674.33    691.33    655.08
2       Colorado   4354.92   4517.92   4669.75   4397.42   4501.75
3         Kansas    892.33    849.25    809.50    801.08    784.58
4      Louisiana   6072.75   8325.42   8074.58   6489.42   5395.50
5        Montana    255.67    217.92    183.08    173.17    162.25
6     New Mexico   3675.08   3526.25   3487.17   3417.50   3469.25
7   North Dakota    311.75    429.58    706.08    946.83   1267.83
8       Oklahoma   5006.17   5172.92   5528.08   5460.33   6386.92
9        Wyoming   6890.58   6507.92   6082.33   5611.50   5475.75
10          Utah   1196.75   1264.17   1339.92   1290.17   1245.50
11         Texas  20802.67  21728.92  22249.08  22737.00  23716.50

In [ ]:

pd.read_sql_query('select * from energy_water join lat_long ON energy_water.building_address = lat_long.address', con=engine)